<script>
$(function () {
  $(".scrape_btn").click(function() {
    $.post('<%= staticpages_path %>',{},function() {
    });
  });
});
</script>

<h1>This is the frontpage</h1>

<div class="col-10 offset-1">
  <%= simple_form_for @new_filing,url:staticpages_path do |f| %>
    <%= f.input :name %>
    <%= f.input :year %>
    <%= f.input :quarter %>
    <%= f.submit "Press to scrape", class: "scrape_btn" %>
  <% end %>
</div>


<% @filings.each do |f| %>
  <div class="col-10 offset-1" id="_<%= f.id %>">
    <h1 class="name"><b>Company: </b><%= f.name %></h1>
    <% if f.ticker != nil %>
      <h5 class="ticker"><b>Info: </b><%= f.ticker %></h5>
    <% end %>
    <h5 class="year"><b>Year: </b><%= f.year %></h5>
    <h5 class="quarter"><b>Quarter: </b><%= f.quarter %></h5>
    <h5 class="total_rev">
      <% if f.total_rev == nil %>
        working
      <% elsif f.total_rev == 0 %>
        error
      <% else %>
        <b>Total Revenue: </b> <%= f.total_rev %>
      <% end %>
    </h5>
  </div>
<% end %>
